.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: all 3s;
}

/* svolgimento esercizio 1 */
.ex-1-square:hover{
    background-color: red;
}
/* /svolgimento esercizio 1 */

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 5s;
}

/* svolgimento esercizio 2 */
.ex-2-square:active{
    width: 100%;
    height: 100px;
}
/* /svolgimento esercizio 2 */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 3s;
}

/* svolgimento esercizio 3 */
.ex-3-square:hover{
    border-radius: 50%;
}
/* /svolgimento esercizio 3 */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 3s;
}

/* svolgimento esercizio 4 */
.ex-4-square:hover{
    background-color: transparent;
    border: transparent;
}
/* /svolgimento esercizio 4 */

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 4s;
}

/* svolgimento esercizio 5 */
.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    width: 30px;
    height: 30px;
}
/* /svolgimento esercizio 5 */

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* svolgimento esercizio 6 */
.ex-6-img:hover{
    filter:grayscale(100%);
}
/* /svolgimento esercizio 6 */

/* svolgimento esercizio 7 */
.ex-7-img{
    animation-duration: 10s;
    animation-name: change-color;
}

@keyframes change-color{
    0%{
        filter: none;
    }

    25% {
        filter: sepia(100%);
    }

    75% {
        filter: grayscale(100%);
    }
    
    100%{
        filter: none;
    }
}
/* /svolgimento esercizio 7 */

/* svolgimento esercizio 8 */
.ex-8-img{
    animation-duration: 10s;
    animation-name: change-color-2;
}

@keyframes change-color-2{
    0%{
        filter: none;
    }

    25% {
        filter: grayscale(100%);
        border-radius: 10%;
    }

    75% {
        filter: sepia(100%);
        border-radius: 10%;
    }
    
    100%{
        filter: none;
    }
}
/* /svolgimento esercizio 8 */

/* svolgimento esercizio 9 */
.ex-9-img{
    animation-duration: 10s;
    animation-name: change-color-3;
}

@keyframes change-color-3{
    0%{
        filter: none;
    }

    25% {
        filter:saturate(100%);
        border-radius: 10%;
        width: 300px;
    }

    75% {
        filter: opacity(50%);
        border-radius: 10%;
        width: 500px;
    }
    
    100%{
        filter: none;
    }
}
/* /svolgimento esercizio 9*/







.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
